@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

.Header {
  border: 1px solid rgb(180, 24, 56);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2.3vh;
  display: flex;
  width: 100vw;
  height: 10vh;
  background-image: url(../Images/domino-164_6wVEHfI-unsplash.jpg);
}

.Nav {
  display: flex;
  align-items: center;
}

.Nav h1 {
  margin: 2vh 45vw 4vh 0.2vw;
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
  font-size: 2.3vw;
  color: rgb(255, 183, 183);
}

.List {
  display: flex;
}

span {
  font-style: italic;
  font-weight: 600;
  color: antiquewhite;
}

.List li {
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin: 3vh 2vw 4vh 3vw;
  margin-left: 4vh;
  color: rgb(254, 186, 186);
  border-radius: 12%;
}

#l1, #l2, #l3, #l4 {
  background-color: orange;
}

.Image {
  margin-left: 2%;
  border-radius: 50%;
  background-size: 10px 10px;
  background-position: center;
}

.MainDiv {
  width: 100%;
  height: 100%;
}

.Section1 {
  width: 100vw;
  height: 80vh;
}

.Section2 {
  margin: 10vw 0 0 0;
  width: 100vw;
  height: 50vh;
}

.Section3 {
  margin: 2vw 0 6vw 0;
  width: 100vw;
  height: 90vh;
}

.Div1 {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-image: url(../Images/domino-164_6wVEHfI-unsplash.jpg);
  background-size: 100% 90%;
  background-position: 114vw;
}

.overlay {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
}

.text {
  color: rgba(240, 170, 39, 0.809);
  width: 100vw;
  height: 100vh;
  align-items: center;
  top: 10%;
  padding: 2vh 10vw;
  position: absolute;
}

#textD {
  width: 60%;
  justify-content: space-between;
}

#textD p {
  font-size: 1.5vw;
  width: 75%;
}

.text h1 {
  font-family: "Roboto", sans-serif;
  font-style: bold;
  font-size: 5vw;
  font-weight: 400;
}

.Div2 {
  display: flex;
  width: 100%;
  height: 100%;
}

.div1 {
  width: 35vw;
  height: 50vh;
  border-radius: 2%;
  background-image: url(../Images/andres-jasso-PqbL_mxmaUE-unsplash.jpg);
  background-position: 100%;
  background-position: 85% 56%;
  position: relative;
}

.div1 h2 {
  margin: 4% 0 0 5%;
  font-size: 2.3vw;
  color: rgb(0, 0, 0);
  position: absolute;
}

.div1 p {
  margin: 18% 1% 0 30%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.2vw;
  position: absolute;
  color: rgb(4, 23, 17);
  font-weight: 80;
}

.div2 {
  width: 75vw;
  height: 50vh;
  border-radius: 1%;
  background-color: blanchedalmond;
  background-image: url(../Images/nike-self-lacing-smart-shoe-wqhd-1440p-wallpaper.jpg);
  background-position: center;
  background-size: fill;
}

.Div3 {
  width: 100vw;
  height: 100vh;
  background-image: url(../Images/photo-1587563871167-1ee9c731aefb.avif);
  background-position: 60%;
}

.Div3 h3 {
  margin: 1vh 0 0 2vw;
  font-size: 4vw;
  font-weight: 800;
  color: rgb(180, 24, 56);
}

.Div3 p {
  font-size: 1.5vw;
  color: rgb(4, 23, 17);
  margin: 1vh 0 0 2.4vw;
}

.Footer {
  width: 100vw;
  height: 20vh;
  font-size: 1.1vw;
  background-color: orange;
}

.Icons {
  width: 100%;
  padding: 0;
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2vw;
  margin: 1vw;
}

.icons a {
  text-decoration: none;
  padding: 0.9vw;
  background-color: white;
  border-radius: 50%;
  margin: 0.9vw 1.4vw 0.3vw 0;
}

.icons i {
  font-size: 2em;
  color: black;
  opacity: 0.9;
}

.Copyright {
  text-align: center;
  background-color: black;
  color: white;
}

.icons a:hover {
  background-color: gray;
  color: white;
  transition: 0.4s;
}

#Follow {
  margin-right: 3vw;
  font-size: 1.4vw;
}

@media (max-width: 700px) {
  .icons {
    width: 100%;
    margin: 10px;
  }
}

/*# sourceMappingURL=style.css.map */
